.header {
  background-color: var(--headerFooterBg);
  box-shadow: var(--boxShadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--paddingSm);
  position: sticky;
  top: 0;
  z-index: 30;
  cursor: pointer;
}



/* Tablet & Desktop */
/* @media screen and (width >=62.5em) {} */