.aboutContainer {
  font-family: var(--fontFamily);
  line-height: 1.6;
  margin: 0 3rem; 
  max-width: var(--container-width);
  padding: 4rem var(--paddingSm);
}

.heroSection {
  text-align: center;
  margin-bottom: 4rem;
}

.section {
  margin-bottom: 3rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.gridItem {
  background: var(--secondaryColor-100);
  border-radius: var(--radius);
  box-shadow: var(--boxShadow);
  padding: var(--paddingLg);
  transition: transform 0.2s, box-shadow 0.2s;
}

[data-theme='dark'] .gridItem {
  background: var(--darkModeBg);
}

.gridItem:hover {
  transform: translateY(-5px);
  box-shadow: var(--boxShadow);
}

.header {
  font-size: 2.5rem;
  margin-bottom: var(--paddingSm);
}

[data-theme='dark'] .header {
  background: linear-gradient(
    180deg,
    var(--white) 0%,
    var(--gray) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-size: 1.8rem;
  margin-bottom: var(--paddingSm);
  color: var(--foreground);
}

.boldFont {
  font-weight: 700;
  color: var(--foreground);
}

.aboutContainer p {
  margin-bottom: 1.5rem;
  color: var(--textSecondary);
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .aboutContainer {
    padding: 2rem var(--paddingSm);
  }

  .header {
    font-size: 2rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .gridContainer {
    grid-template-columns: 1fr;
  }
}