/* Mobile first */
.contactMain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.contactTitle h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
}

.contactTitle p {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.contactList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  list-style-type: none;
  margin: 0 0 2rem 0;
}

.contactList li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  
}

.formContainer {
  border: var(--borderStyle);
  border-radius: 11px;
  outline: 2px solid var(--primaryColor-300);
}

.formContainer span {
  color: var(--error-t-800);
}

/* Tablet */
@media screen and (width >= 58em) {
  .contactMain {
    padding: 3rem;
  }
}

/* Desktop */
@media screen and (width >= 59em) {
  .contactContainer {
    width: 45vw;
  }
}

