/* Mobile first */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  gap: 2rem;
  .title {
    margin: 3rem 0 3rem 0;
  }
}

.formContainer {
  border: var(--borderStyle);
  border-radius: 11px;
  span {
    color: var(--error-t-800);
  }
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  list-style-type: none;
  margin: 0 0 2rem 0;
  li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

/* Desktop */
@media screen and (width >= 62.5em) {
  .main {
    padding: 6rem;
  }
}
