// .header {
//   background-color: var(--headerFooterBg);
//   box-shadow: var(--boxShadow);
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   /* padding: var(--paddingSm); */
//   position: sticky;
//   top: 0;
//   z-index: 30;
//   cursor: pointer;
// }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 1rem;
  // background: linear-gradient(180deg, #F2D562 0%, #EEB52F 63.54%, #EC7817 100%);
  /* padding: var(--paddingSm); */
  // position: sticky;
  // top: 0;
  // z-index: 30;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
}

.menu__item {
  margin: 0 1rem;
}

.menu__item a {
  text-decoration: none;
  color: var(--textColor);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

/* Tablet & Desktop */
/* @media screen and (width >=62.5em) {} */
