.navLink {
  /* font-weight: 900;
  letter-spacing: .5px;
  margin: 1rem; */
  font-weight: 900;
  --tw-text-opacity: 1;
  color: rgb(75 85 99/var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .2s;
}

.navLink:active {
  border-bottom: 2px solid #000;
}

.navLink.active {
  right: 0;
}

/* Tablet & Desktop */
@media screen and (width >=62.5em) {

  .navLink:hover {
    border-bottom: 2px solid #000;
  }

}