h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 2.75vw;
}

h4 {
  font-size: 2.55vw;
}

h5 {
  font-size: 2.35vw;
}

h6 {
  font-size: 2.25vw;
}

small,
.text_small {
  font-size: 0.75rem;
}

p {
  font-size: 1.25vw;
}

@media screen and (width <= 1000px) {
  h1 {
    font-size: 3.209rem;
  }

  h2 {
    font-size: 2.157rem;
  }

  p {
    font-size: 1rem;
  }
}
