h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

h1 {
  /* font-size: 6vw; */
  font-size: 4.209rem;
  margin-top: 0;
}

h2 {
  /* font-size: 4vw; */
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small, .text_small {font-size: 0.75rem;}

p {
  font-size: 3vmin;
  margin-bottom: 1rem
}

@media screen and (max-width: 400px) {
  h1 {
    /* 1.5 * 16 = 24px */
    font-size: 1.5rem;
  }

  h2 {
    /* 1.125 * 16 = 18px */
    font-size: 1.125rem;
  }

  p {
    /* 1 * 16 = 16px */
    font-size: 1rem;
  }
}