/* Mobile first */
.main {
  background-color: var(--primaryColor);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.landingPageHeader {
  text-align: center;
}

.intro {
  font-size: 3vw;
}

.name {
  font-size: 8vw;
}

.banner {
  background-color: var(--white);
  border-radius: 16px;
  color: var(--primaryColor);
  padding: 3rem
}

.cta {
  font-weight: bold;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Desktop */
@media (min-width: 1023px) {
  .title {
    font-size: 6vw;
  }

}

