.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 1rem;
  cursor: pointer;
}

.menu {
  display: none;
}

.menu__item {
  margin: 0 1rem;
}

.menu__item a {
  text-decoration: none;
  color: var(--textColor);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.menuBtn {
  background-color: transparent;
  padding: 0.75rem 1rem;
  letter-spacing: 0.75px;
}

.logoLarger {
  display: none;
}

.lgSvg {
  margin: 1rem;
  width: 100%;
  height: auto
}

// TODO: not working...?
.modal::backdrop {
  background: linear-gradient(180deg, #f2d562 0%, #eeb52f 63.54%, #ec7817 100%);
  opacity: 0.5;
}

/* Desktop */
@media screen and (width >= 62.5em) {
  .menuBtn {
    display: none;
  }
  
  .menu__item a:hover {
    color: var(--primaryColor);
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 1rem;
  }

  .logoLarger {
    display: block;
  }

  .logoSmall {
    display: none;
  }
}
