/* @use 'normalize' as *;
@use 'typography';
@use 'variables'; */

:root {
  color-scheme: light dark;

  --font-family: 'Roboto', sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* Color Palette */
  --primaryColor-300: hsl(48, 85%, 67%);
  --primaryColor-600: hsl(42, 85%, 56%);
  --primaryColor-900: hsl(27, 85%, 51%);

  --secondaryColor: hsl(193, 43%, 54%);

  --white: hsl(45, 40%, 98%);
  --black: hsl(0, 0%, 2%);
  --gray: hsl(0, 0%, 86%);
  --grayShadow: rgba(0, 0, 0, 0.12);

  --error-t-800: #d74332;

  --borderColor: hsl(0, 0%, 86%);
  --borderStyle: 1px solid var(--borderColor);

  /* Default */
  --background: white;
  --foreground: var(--black);

  --backgroundGradient: linear-gradient(
    180deg,
    #f2d562 0%,
    #eeb52f 63.54%,
    #ec7817 100%
  );

  --headerFooterBg: hsl(0, 0%, 100%);
  --primaryBtn: var(--primaryColor-300);
  --darkModeBg: hsl(0, 0%, 18%);

  /* Buttons */
  --btnPadding: 0.5rem 1rem;
  --btnBorder: 1px solid var(--borderColor);

  --boxShadow: var(--grayShadow) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;;
  --lgShadow: 15px -8px #bae9f4;
  --margin: 2rem 0;
  --marginAll: 2rem;
  --paddingXs: 0.5rem;
  --paddingSm: 1rem;
  --paddingLg: 2rem;
  --radius: 0.5rem;
  --circleRadius: 50%;

  --ctaBox: var(--secondaryColor);

  --logo: var(--white);
}

[data-theme='dark'] {
  --headerFooterBg: hsl(30, 1%, 28%);
  --background: var(--darkModeBg);
  --foreground: var(--white);
  --primaryBtn: var(--primaryColor-300);
  --boxShadow: rgba(252, 252, 252, 0.3) 0px 1px 2px 0px,
    rgba(252, 252, 252, 0.15) 0px 1px 3px 1px;
  --gray: rgba(89,89,89,1);
}

/* Apply the filter directly on the body tag */
body.dark-theme img {
  filter: brightness(0.8) contrast(1.2);
}

/* Or apply it via media query */
@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}

/* SVG icon */
body.dark-theme svg.icon path {
  fill: var(--white);
}

/* Font icon (using Font Awesome as an example) */
body.dark-theme .fa {
  color: #efefef;
}

*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  max-width: 100vw;
  overflow-x: hidden;
}

body::after[data-theme='dark'] {
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: var(--btnBorder);
  border-radius: var(--radius);
  background-color: transparent;
  box-shadow: var(--boxShadow);
  cursor: pointer;
  font-weight: 700;
  margin: var(--margin);
  padding: 0;
  transition: all 0.2s ease-in-out;
  /* padding: 0.75rem; */
}

.smallLetterSpacing {
  letter-spacing: -0.15px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Accessibility */
.srOnly:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.toggle {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.toggle:is(:hover, :focus) {
  opacity: 0.8;
}

.containerToggles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

@media screen and (min-width: 1000px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
  }
}