.header {
  position: relative;
  background-color: var(--headerFooterBg);
  border-bottom: 1px solid var(--borderColor);
  color: var(--foreground);
  padding: .25rem 2.5rem;
  z-index: 50;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  text-decoration: none;
}

.logo img {
  transition: filter 0.3s ease; /* Smooth transition for logo color change */
}

.navContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav {
  display: flex;
  align-items: center;
}

.menuButton {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: var(--paddingXs);
}

.menuIcon,
.closeIcon {
  width: 24px;
  height: 24px;
  color: var(--foreground);
}

.navHeader {
  display: none;
}

.closeButton {
  padding: var(--paddingXs);
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.menuItem {
  margin: 0;
}

.menuLink {
  display: inline-block;
  padding: var(--paddingXs);
  color: var(--textSecondary);
  text-decoration: none;
  transition: color 0.2s;
}

.menuLink:hover {
  color: var(--foreground);
}

.menuLink:focus-visible {
  outline: 2px solid var(--secondaryColor);
  outline-offset: 2px;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 768px) {
  .navContainer {
    justify-content: flex-end;
  }
  
  .controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    background-color: var(--headerFooterBg);
    padding: var(--paddingSm);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: var(--boxShadow);
    display: block;
  }

  .navOpen {
    transform: translateX(0);
  }

  .navHeader {
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--paddingSm);
  }

  .menuButton {
    display: flex;
    align-items: center;
  }

  .menu {
    flex-direction: column;
    gap: var(--paddingSm);
  }
}