.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 4rem 0;
}

.featureCard {
  box-shadow: var(--boxShadow);
  background: var(--lightGray);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.icon {
  color: var(--primaryColor-900);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.featureCard h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.featureCard p {
  color: #666;
}
