.header {
  padding: 1rem;
  margin: 0 0 2rem 0;
  h3 {
    margin: 3rem 0 3rem 0;
    text-align: center;
    border-bottom: 2px solid var(--primaryColor-300);
    padding-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    text-align: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.input {
  border: var(--borderStyle);
  border-radius: 6px;
  padding: 0.55em;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.legend {
  font-size: 1.25rem;
  font-weight: 700;
  background-color: var(--grayShadow);
  width: 100%;
  text-align: center;
}

.label {
  font-weight: 700;
}

.textArea {
  margin: 3rem 0 0 0;
  p {
    margin: 0 0 0 0;
  }
  .counter {
    font-size: 1rem;
  }
}

.btnContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin: 0 2rem 1rem 0;

  .submitBtn {
    background-color: var(--grayShadow);
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    span {
      width: 24px;
    }
  }
}

/* Style the radio button when it is checked */
.label:hover .radioBtn:checked {
  background-color: var(--primaryColor-300);
  color: #fff;
}

.radioContainer {
  padding: 2rem 0 2rem 0;
  .label {
    margin: 2rem 1rem 2rem 1rem;
  }

  .radioBtn {
    margin: 0 1rem 0 0;
  }
}

.radioBtn:checked {
  background: var(--primaryColor-300);
  color: #fff;
}

/* Desktop */
// @media screen and (width >= 62.5em) {
//   .header {
//     padding: 2rem;
//     max-width: 40vw;
//   }
//   .container {
//     max-width: 30vw;
//   }
//   .btnContainer {
//     max-width: 33vw;
//     margin: 0 0 1rem 0;
//   }
// }
